{{#if addNewAnswer}}
<h3>Response to {{question.author}}</h3>
<div>
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      {{input class="form-control" value=name id="name"}}
    </div>
    <div class="form-group">
      <label for="response">Response</label>
      {{input class="form-control" value=response id="response"}}
    </div>
    <button class="btn btn-primary"{{action 'saveAnswer'}}>Reply!</button>
  </form>
</div>
{{else}}
  <button class="btn btn-success" {{action 'answerFormShow'}}>Respond</button>
{{/if}}
