{{question-detail question=model}}

{{question-update question=model update="update"}}

<hr>
<div class=""><h1>Answers</h1>{{new-answer saveAnswer="saveAnswer" question=model}}</div>
<hr>

{{#each model.answers as |answer|}}
<div class="panel panel-default">
  <div class="panel-heading">
    <strong>{{answer.name}}</strong> said, {{answer.response}}
  </div>
</div>
{{/each}}
